<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Debdip Guchait - Researcher</title>
</head>

<body>
    <header>
        
        
        <nav>
            <img src="images/logo.png", class="logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                
                
                <li><a href="highlights.html">Highlights</a></li>
                
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                
            </ul>
        </nav>
    </header>

    <section class="main-content-gallery">

        <div class="gallery-image-three">
            <div style="background-image: url(images/gallery_photos/DSC_2174.jpeg);" class="gallery-image-one">
                <div class="image-content">
                    <h2 style="margin: 0px">PMQM-2023</h2>
                    <p style="margin: 2px;">A hoe hefih oieo hoeih ffouieh  oifhweuofh o[eh oih we[oi hweoh o[iw eoi heogroup  photos of perticipants and lectureres in PMQM-2023 </p>  
                </div>
            </div>

            <div style="background-image: url(images/gallery_photos/20220921_221732.jpg);" class="gallery-image-one-different-size">
                <div class="image-content">
                    <h2 style="margin: 0px">Dinner Night</h2>
                    <p style="margin: 2px;">A group photo </p>  
                </div>
            </div>

            <div style="background-image: url(images/gallery_photos/20230417_211442.jpg);" class="gallery-image-one">
                <div class="image-content">
                    <h2 style="margin: 0px">MSc CDPC group - 2023</h2>
                    <p style="margin: 2px;"> </p>  
                </div>
            </div>

        </div>

        <div class="gallery-image-three">
            <div style="background-image: url(images/gallery_photos/ANI01038.jpg);" class="gallery-image-one">
                <div class="image-content">
                    <h2 style="margin: 0px">Physics Day - IIT Ropar</h2>
                    <p style="margin: 2px;"> Presenting a poster - 2023</p>  
                </div>
            </div>

            <div style="background-image: url(images/gallery_photos/ANI01252.jpg);" class="gallery-image-one">
                <div class="image-content">
                    <h2 style="margin: 0px">Physics Day - IIT Ropar</h2>
                    <p style="margin: 2px;">A group  photos - 2023 </p>  
                </div>
            </div>

            <div style="background-image: url(images/gallery_photos/ANI01268.jpg);" class="gallery-image-one">
                <div class="image-content">
                    <h2 style="margin: 0px">Physics Day - IIT Ropar</h2>
                    <p style="margin: 2px;">LANOM Lab - 2023 </p>  
                </div>
            </div>

        </div>

        <div class="gallery-image-three">
            <div style="background-image: url(images/gallery_photos/FB_IMG_1651338454829.jpg);" class="gallery-image-one">
                <div class="image-content">
                    <h2 style="margin: 0px">Princep Ghat, River Side, Kolkata</h2>
                    <p style="margin: 2px;">A scinic beauty of second howrah bridge, river boats on a cloudy day </p>  
                </div>
            </div>

            <div style="background-image: url(images/gallery_photos/IMG20220520180958.jpg);" class="gallery-image-one">
                <div class="image-content">
                    <h2 style="margin: 0px">IIT Guwahati</h2>
                    <p style="margin: 2px;"> Most sinic IIT Campus, may-2023 </p>  
                </div>
            </div>

            <div style="background-image: url(images/gallery_photos/IMG_20230715_174115816_HDR.jpg);" class="gallery-image-one">
                <div class="image-content">
                    <h2 style="margin: 0px">Nandi hill trip, Bangaluru</h2>
                    <p style="margin: 2px;"> group photos of trip buddies from PMQM-2023 </p>  
                </div>
            </div>

        </div>

        <div class="gallery-image-three">
            <div style="background-image: url(images/gallery_photos/IMG_20230715_184802.jpg);" class="gallery-image-one">
                <div class="image-content">
                    <h2 style="margin: 0px">Be free, Enjoy!</h2>
                    <p style="margin: 2px;"> A classic image from nandi hill top </p>  
                </div>
            </div>

            <div style="background-image: url(images/gallery_photos/IMG_20231023_121638.jpg);" class="gallery-image-one-different-size">
                <div class="image-content">
                    <h2 style="margin: 0px">Durga Puja - 2023</h2>
                    <p style="margin: 2px;"> from barhampur, Murshidabad </p>  
                </div>
            </div>

            <div style="background-image: url(images/gallery_photos/IMG_20230326_182541.jpg);" class="gallery-image-one-different-size">
                <div class="image-content">
                    <h2 style="margin: 0px">Evening at IIT Ropar</h2>
                    <p style="margin: 2px;"> A classic image of colorful sky in a evening. </p>  
                </div>
            </div>

        </div>
            
        
        
    </section>

    <footer>
        <p>&copy; 2024 Debdip Guchait</p>
    </footer>
</body>

</html>
