<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Debdip Guchait - Researcher</title>
</head>

<body>
    <header>
        
        
        <nav>
            <a href="index.html"><img src="images/logo.png", class="logo"></a> <h1>Debdip Guchait</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                
                
                <li><a href="highlights.html">Highlights</a></li>
                
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                
            </ul>
        </nav>
    </header>

<!--

    <section class="main-content-highlight">

        <! --
        <Long-internship class="highlights-content">

            <div class="image-comtainer">
                <img src='images/PMQM-1.jpg' class="my-image-1">
            </div>

            <div class="content">
                <div class="item">
                    <h2 class="heading"> Internship: April-2024 </h2>
                    <p class="gap"> OIST, Japan</p>
                </div>

                <div class="details">
                    <h4 class="subheading">Related to Quantum Network Development</h4>
                    <ul class="project">
                        <li><strong>Supervisor: </strong> Yimaru Kubo </li> 
                    </ul>
                    <p class="text">
                        
                    </p>

                </div>
            </div>


        </Long-internship> 
    
-->
         
        <PMQM-2023 class="highlights-content"> 

            <div class="image-comtainer">
                <img src='images/PMQM-1.jpg' class="my-image-1">
            </div>


            <div class="content">
                <div class="item">

                    <h2 class="heading">1st Poster Presentation: july-2023</h2>
                    <p class="gap">PMQM-2023, ICTS(TIFR)-Bangaluru</p>
                
                </div>

                <div class="details">
                    <p class="text">  
                        First experience of presenting a poster on my master's thesis results: 
                    </p>
                    <p class="text">
                        <strong>Title: </strong> Quantum Emitters in Hexagonal Boron Nitride at Room Temperature
                    </p>
                </div>

                

                </div>
            
            </div>

            

        </PMQM-2023>

        <MSc class="highlights-content"> 

            <div class="image-comtainer">
                <img src='images/Msc.jpg' class="my-image-1">
            </div>


            <div class="content">

                <div class="item">
                    <h2 class="heading">MSc Physics: May-2023</h2>
                    <p class="gap">Indian Institute of Technology, Ropar</p>
                </div>

                <div class="details">

                    <h4 class="subheading">Quantum Emitters in Layered Hexagonal Boron Nitride in Room Temperature
                    </h4>
                    <ul class="Project"> 
                        <li><strong>Supervisor: </strong>Dr. Rajesh V. Nair </li>
                        <li><a> </a> </li>
                    </ul>
                    <ul class="Project"> 
                        <li><strong>MSc project - </strong> </li>

                        <li>Aug,2022 - May, 2023</li>
                    </ul>
                        <p class="text">  
                        </p>
                    <ul class="Project">
                        <li><strong>Chanakya Fellowship, IISER Pune - </strong></p>
                        <li><a> </a> </li>
                        <li>May, 2023 - Oct, 2023</li>
                    </ul>
                        <p class="text">
                            
                        </p>

                

                </div>
            
            </div>

            

        </MSc>



         
       
         
        <Summer-Internship class="highlights-content"> 

            <div class="content">
                <div class="item">
                    <h2 class="heading">Summer Internship: May, 2022 - July, 2022 </h2>
                    <p class="gap">Indian Institute of Technology, Guwahati</p>
                </div>
                <div class="details">
                    <h4 class="subheading">Quantum Master Equation and First Law of Thermodynamics of a Driven Two Level
                        System</h4>
                    <ul class="Project"> 
                        <li></strong> </li>
                        <li><a> </a> </li>
                        <li></li>
                    </ul>
                        <p class="text">  
                        </p>
                </div>   
            </div>
        </Summer-Internship>

         
        <BSc class="highlights-content"> 


            <div class="content">

            
                <div class="item">
                    <h2 class="heading">BSc Physics: July,2018 - July,2021</h2>
                    <p class="gap">Midnapore College, Vidyasagar University, West Bengal</p>
                </div>
                <div class="details">
                    <h4 class="subheading">Magnetostriction effect measurement using Michelson Interferometer.
                    </h4>
                    <ul class="Project"> 
                        <li><strong>Supervisor: </strong> Dr. Abhijit Bera </li>
                        <li><a> </a> </li>
                        <li>Jan,2021 - July, 2021</li>
                    </ul>
                        <p class="text">  
                        </p>
                </div>
            </div>
        </BSc>
    </section>

    <footer>
        <p>&copy; 2024 Debdip Guchait</p>
    </footer>
</body>

</html>
