<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Debdip Guchait - Researcher</title>
</head>

<body>
    <header>
        
        
        <nav>
            <img src="images/logo.png", class="logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="research.html"></a></li>
                <li><a href="highlights.html">Highlights</a></li>
                <li><a href="contact.html"></a></li>
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="join.html"></a></li>
            </ul>
        </nav>
    </header>

    <div class="timeline">

    <section class="main-content-highlight">
        <div class="Line">

        </div>

        <div class="timeline-circle"></div>
        <Long-Internship class="Long-Internship"> 
            <div class="item">
                <h2 class="heading">Internship: April-2024</h2>
                <p class="gap">OIST, Okinawa, Japan</p>
            </div>
            <div class="content">
                <h3 class="subheading"></h3>
                <ul class="Project"> 
                    <li><strong> </strong> </li>
                    <li><a> </a> </li>
                    <li></li>
                </ul>
                    <p class="text">  
                    </p>
                <ul class="Project">
                    <li><strong> </strong></p>
                    <li><a> </a> </li>
                    <li></li>
                </ul>
                    <p class="text">
                        
                    </p>
            
            </div>
        </Long-Internship>

        <div class="timeline-circle"></div>
        <PMQM-2023 class="PMQM-2023"> 
            <div class="item">
                <h2 class="heading">1st Poster Presentation: july-2023</h2>
                <p class="gap">PMQM-2023, ICTS(TIFR)-Bangaluru</p>
            </div>
            <div class="content">
                <img src='images/PMQM-1.jpg' class="my-image-1">
                <h3 class="subheading"></h3>
                <ul class="Project"> 
                    <li><strong> </strong> </li>
                    <li><a> </a> </li>
                    <li></li>
                </ul>
                    <p class="text">  
                    </p>
                <ul class="Project">
                    <li><strong> </strong></p>
                    <li><a> </a> </li>
                    <li></li>
                </ul>
                    <p class="text">
                        
                    </p>
            
            </div>
        </PMQM-2023>

        <div class="timeline-circle"></div>
        <MSc class="MSc"> 
            <div class="item">
                <h2 class="heading">MSc Physics: May-2023</h2>
                <p class="gap">Indian Institute of Technology, Ropar</p>
            </div>
            <div class="content">
                <h3 class="subheading">Quantum Emitters in Layered Hexagonal Boron Nitride in Room Temperature
                </h3>
                <ul class="Project"> 
                    <li><strong>Supervisor: </strong>Dr. Rajesh V. Nair </li>
                    <li><a> </a> </li>
                    <li></li>
                </ul>
                <ul class="Project"> 
                    <li><strong>MSc project - </strong> </li>
                    <li><a> </a> </li>
                    <li>Aug,2022 - May, 2023</li>
                </ul>
                    <p class="text">  
                    </p>
                <ul class="Project">
                    <li><strong>Chanakya Fellowship, IISER Pune - </strong></p>
                    <li><a> </a> </li>
                    <li>May, 2023 - Oct, 2023</li>
                </ul>
                    <p class="text">
                        
                    </p>
            </div>
        </MSc>
        <div class="timeline-circle"></div>
        <Summer-Internship class="Summer"> 
            <div class="item">
                <h2 class="heading">Summer Internship: May, 2022 - July, 2022 </h2>
                <p class="gap">Indian Institute of Technology, Guwahati</p>
            </div>
            <div class="content">
                <h3 class="subheading">Quantum Master Equation and First Law of Thermodynamics of a Driven Two Level
                    System</h3>
                <ul class="Project"> 
                    <li></strong> </li>
                    <li><a> </a> </li>
                    <li></li>
                </ul>
                    <p class="text">  
                    </p>
                
            </div>
        </Summer-Internship>

        <div class="timeline-circle"></div>
        <BSc class="BSc"> 
            <div class="item">
                <h2 class="heading">BSc Physics: July,2018 - July,2021</h2>
                <p class="gap">Midnapore College, Vidyasagar University, West Bengal</p>
            </div>
            <div class="content">
                <h3 class="subheading">Magnetostriction effect measurement using Michelson Interferometer.
                </h3>
                <ul class="Project"> 
                    <li><strong>Supervisor: </strong> Dr. Abhijit Bera </li>
                    <li><a> </a> </li>
                    <li>Jan,2021 - July, 2021</li>
                </ul>
                    <p class="text">  
                    </p>
            </div>
        </BSc>
    </section>
    </div>

    <footer>
        <p>&copy; 2024 Debdip Guchait</p>
    </footer>
</body>

</html>
