<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Debdip Guchait - Researcher</title>
</head>

<body>
    <header>
        
        
        <nav>
            <a href="index.html"><img src="images/logo.png", class="logo"></a> <h1>Debdip Guchait</h1>
            <ul>
                <li><a href="index.html" class="menu-hover">Home</a></li>
                
                
                <li><a href="highlights.html" class="menu-hover">Highlights</a></li>
                
                <li><a href="blogs.html" class="menu-hover">Blogs</a></li>
                <li><a href="gallery.html" class="menu-hover">Gallery</a></li>
                
            </ul>
        </nav>
    </header>

    <section class="main-content">
        
    </section>

    <footer>
        <p>&copy; 2024 Debdip Guchait</p>
    </footer>
</body>

</html>
