<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Debdip Guchait - Researcher</title>
</head>

<body>
    <header>
        
        
        <nav>
            <img src="images/logo.png", class="logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="research.html"></a></li>
                <li><a href="publication.html"></a></li>
                <li><a href="highlights.html">Highlights</a></li>
                <li><a href="contact.html"></a></li>
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="join.html"></a></li>
            </ul>
        </nav>
    </header>

    <section class="main-content">
        <img src="images/my-image.jpg", class="my-image">
            
            
        <div class="introduction">
            <h3>Welcome to the Lab ......!</h3>
            <div  class="detail-intro">Hi, I am Debdip Guchait. Recently, I graduated from the Indian Institute of Technology Ropar, India with master's degree in physics. I did my master's thesis project at LaNOM lab under the supervision of Dr. Rajesh V. Nair. I also received Post Graduate Chanakya fellowship from I-Hub IISER Pune for 6 months. I have done my bachelor's in physics from Midnapore College (Autonomous), Midnapore. The project thesis is entitled "Quantum Emitters in Layered Hexagonal Boron Nitride in Room Temperature". We were investigating the quantum optical properties of mid-bandgap energy levels, which arises due to defects in wideband gap 2D materials using the Confocal microscopy technique to locate the defect centers and other properties with TCSPC setup.
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Debdip Guchait</p>
    </footer>
</body>

</html>
