body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}



header {
    width: 100%;
    background-image: linear-gradient(rgba(62, 50, 160, 0.65),rgba(141, 128, 240, 0.65)),url(images/cover.png);
    background-size: cover;
    background-position:center;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    width: 100%;
    padding: 10px;
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}


.logo{
    width: 120px;
    cursor: pointer;

}

/*home page*/
.main-content {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 10px;
    margin-bottom: 50px;
    display:flex;
    align-items: center;
    align-content: center;
    text-align: justify;
}







.contact-card{
    width: 310px;
    height: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-card:hover{
    width: 360px;
    height: 150px;
    font-size: 18px;
    transition: all 0.5s;
}





.contact-card ul{
    list-style-type: none;
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.contact-card a{
    text-decoration: none;
    margin-right: 10px;
    margin-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.contact-card ul li {
    display: inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}






.my-image{
    display: block;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    box-shadow: 10px 10px 50px 0 turquoise;
}

.main-content:hover .my-image{
    width: 320px;
    height: 320px;
    transition: all 1s;
}




.introduction{
    width: 500px;
    height: 250px;
    padding-left: 10px ;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-content:hover .introduction{
    width: 530px;
    height: auto;
    font-size: 110%;
    text-align: justify;
    transition: all 0.001s;
}


/*publication page code*/

.main-content-publication{
    width: 1000px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    align-content: center;
    text-align: justify;
}


.list-of-publication{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
}


/*highlights code*/



.main-content-highlight {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display:block;
    
}

.highlights-content{
    width: 70%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
}

@media screen and (max-width:800px){
    .highlights-content{
        display:inline;
    }
}

@media screen and (max-width:800px){
    .main-content{
        display: inline;
    }

}


.my-image-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    width: 270px;
    height: 270px;
}

.content{
    width: 675px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

.item{
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.heading{
    padding: 5px;
    margin: 0;
    font-size: 28px;
}

.gap{
    margin: 0;
    padding-left: 15px;
    font-size:20px ;
}


.details{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: none;
    text-align:justify;
}

.highlights-content:hover .details{
    cursor: pointer;
    display:block;

}


.highlights-content:hover .my-image-1{
    cursor: pointer;
    box-shadow: 5px 10px 50px 0 rgb(143, 17, 17);
    width: 320px;
    height: 320px;
    transition: all 0.4s;
}

.highlights-content:hover .content{
    cursor: pointer;
    box-shadow: 5px 10px 50px 0 rgb(69, 34, 11);
    transition: all 0.4s;
    height: auto;
}

.highlights-content:hover .text{
    transition: all 0.0001s;
}






.subheading{

    margin: 5px;
}

.Project{
    padding-left: 10px;
    margin: 5px;
    list-style-type: none;
}

.Project li{
    display: inline-block;
}

.text{
    padding: 0px;
    margin: 0px;
}





/*people page code */

.main-content-contact {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}




/*footer code*/



footer {
    width: 99%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    bottom: 0;
}






